<div>
	<div>
		<a href="{{post.meta('class-primary-link')}}">
			<img src="{{ Image(post.meta('class-primary-img')).src }}"/>
			<span> {{ post.meta('class-primary-label') }}</span>
		</a>
	</div>
	<div>
		<a href="{{post.meta('class-secondary-link')}}">
			<img src="{{ Image(post.meta('class-secondary-img')).src }}"/>
			<span> {{ post.meta('class-secondary-label') }}</span>S
		</a>
	</div>
	<div>
		<a href="{{post.meta('class-tertiary-link')}}">
			<img src="{{ Image(post.meta('class-tertiary-img')).src }}"/>
			<span> {{ post.meta('class-tertiary-label') }}</span>
		</a>
	</div>
		<div>
		<a href="{{post.meta('class-quaternary-link')}}">
			<img src="{{ Image(post.meta('class-quaternary-img')).src }}"/>
			<span> {{ post.meta('class-quaternary-label') }}</span>
		</a>
	</div>
</div>